/* ticket.css */

.ticket-metadata {
    width:60%;
    float:left;
}

.ticket-detail table {
    margin-left:0.4em;
    width:95%;
}

.ticket-detail table th {
    color:#999;
    font-size:80%;
    padding:0 0.5em;
}

.ticket-detail table td {
    font-size:12px;
    color:#666;
    padding:0 0.5em;
}

.children td.est {
    padding-left:1em;
}

.children .hrs {
    display:inline-block;
    width:2.2em;
    text-align:right;
}

.wikitext pre {
    font-size:80% !important;
}

.prioritization h3 {
    color:#afc;
    text-align:center;
}

.score, .reward {
    color:black;
    background-color:white;
}

.prioritization .scores {
    margin-bottom:0.4em;
}

.prioritization .score, .prioritization .reward {
    float:left;
    width:46%;
    margin-right:0.3em;
    padding:0.2em;
}

.score, .reward h4 {
    color:black;
}

.prioritization .score {
    background-color:yellow;
}

.prioritization input {
    padding:0.3em;
    font-size:120%;
    font-weight:bold;
    border:1px solid #999;
    outline:none;
}

.prioritization input.savebtn {
    padding:0.3em 1em;
    text-align:center;
    margin:0.5em;
}

.prioritization {
    width:37%;
    float:left;
    background:#062;
    color:white;
    border: 1px solid black;
    padding:0.2em;
}

.prioritization .namedpriority label {
    display:block;
    float:left;
    clear:both;
    width:60%;
}

.prioritization .namedpriority input {
    float:left;
    width:35%;
}

.prioritization .namedpriority {
    clear:both;
    padding:0.5em 0.1em;
}

.prioritization .namedpriority:nth-child(2n-1) {
    background-color:#093;
}

.prioritization p.help {
    clear:both;
    font-size:80%;
    font-style:italic;
}

div.status-note {
    width:90%;
    background-color:yellow;
    color:#900;
    padding-left:1.5em;
    font-weight:bold;
}

/* rubric display */

div.term {
    background-color:#ffd;
    border-bottom:1px solid #999;
    margin-left:0.8em;
    margin-bottom:0.2em;
    padding:0.8em;
}

/* listing display */

body.template-listing_view #content-core {
    border-left:0.5em solid #89a;
    border-top:1px solid #89a;
    padding-left:0.2em;
}

div.control {
    margin-top:0.4em;
}

body.template-listing_view #content-core .priorities-form ul {
    list-style-type:none;
    margin-left:0.1em;
}


.priorities-form li {
    display:block;
    list-style-type:none;
    background-color:#dde;
    padding:0.3em 1em;
    border-left:1px solid #666;
}

.priorities-form li:nth-child(2n-1) {
    background-color:#c9d0d9;
}

.priorities-form li h4 {
}

.priorities-form li .priorities {
    margin-top:0.3em;
    padding:0.1em 0.5em;
    background-color:white;
}

.priorities-form li .priorities h4 {
    width:8em;
    font-size:100%;
    float:left;
}

#content .priorities-form li .priorities h4 a {
    border-bottom:none !important;
}

.priorities-form li div.detail {
    background-color:#ffa;
    border:1px solid #aaa;
    width:auto;
    max-width:100%;
    margin-left:1em;
    font-size:90%;
}

.priorities-form li div.detail.detail-heading {
    background-color:white;
    border:none;
    border-bottom:1px solid #999;
}

.priorities-form li.heading-item {
    margin-top:0.5em;
    padding:1px 0 0.15em 0;
    background-color: navy;
}

.priorities-form li.heading-item .detail-value:nth-child(5) {
    width:auto !important;
    max-width:100%;
}

.priorities-form li.heading-item div.detail {
    max-width:100%;
    width:auto;
    margin-left:0;
    padding:0;
}

.priorities-form li div.detail.detail-heading .childtask-len {
    background-color:#90bad0;
    border-bottom:#205C90;
    margin-left:0;
    width:33.1em;
    padding-left:1.2em;
}

.priorities-form li div.detail .detail-value {
    background-color:#fff;
    float:left;
    width:7.4em;
    padding-left:0.3em;
    border-left:1px dotted #999;
}

.priorities-form li div.detail .childtask-len {
    background-color:#fff;
    float:left;
    width:31.7em;
    padding-left:0.3em;
}

.priorities-form li table.priority-grid {
    width:82%;
    float:left;
}

.priorities-form li table.priority-grid td, 
.priorities-form li table.priority-grid th {
    max-width:9em;
    text-align:center;
}

.priorities-form li table.priority-grid td input {
    width:60%;
    font-weight:bold;
    text-align:center;
} 

.priorities-form input:focus, 
.prioritization input:focus {
    background-color:yellow !important;
    font-weight:bold;
    ouline:none;
    padding:0.1em;
    border:1px solid #666;
}

.priorities-form li table.priority-grid th {
    color:#062;
    padding:0.1em 0.4em;
}

.score-value {
    font-size:140%;
    font-weight:bold;
}

.detail-value.scores {
    background-color:#ffa !important;
    padding-left:1em !important;
    width:100%;
}

em.subtle {
    color:#999 !important;
    font-size:90%;
}

.rubric-link-listing {
    display:inline-block;
    padding-left:3em;
}

.rubric-link-listing a {
    color:#205c90 !important;
}
